opencv-python==4.9.0.80
diffusers==0.34.0
transformers==4.53.0
tokenizers==0.21.1
accelerate==1.8.1
pandas==2.2.3
numpy==1.26.4
einops==0.8.1
tqdm==4.67.1
loguru==0.7.2
imageio==2.34.0
imageio-ffmpeg==0.5.1
safetensors==0.5.3
gradio==5.23.2
onnxscript==0.3.1
